<div class="container mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 card p-5">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name:</label>
          <input type="text" formControlName="projectName" class="form-control" id="projectName">
        </div>
        <div *ngIf="signupForm.get('projectName')?.touched && signupForm.get('projectName')?.invalid">
          <span class="text-danger" *ngIf="signupForm.get('projectName')?.errors?.['required']">username is required</span>
          <span class="text-danger" *ngIf="signupForm.get('projectName')?.errors?.['minlength']">username should have more than 3 chars</span>
          <span class="text-danger" *ngIf="signupForm.get('projectName')?.errors?.['forbiddenProjectName']">username is invalid</span>
        </div>
        <div class="form-group">
          <label for="mail">Mail:</label>
          <input type="email" formControlName="mail" class="form-control" id="mail">
        </div>
        <div *ngIf="signupForm.get('mail')?.touched && signupForm.get('mail')?.invalid">
          <span class="text-danger" *ngIf="signupForm.get('mail')?.errors?.['required']">mail is required</span>
          <span class="text-danger" *ngIf="signupForm.get('mail')?.errors?.['forbiddenMail']">mail is invalid</span>
        </div>
        <div class="form-group">
          <label for="projectName">Project status:</label>
          <div class="dropdown">
            <select class="form-control dropdown-toggle" formControlName="projectStatus" name="projectStatus" id="projectStatus" aria-labelledby="projectStatusLabel">
              <option *ngFor="let projectStatus of projectStatuses" [value]="projectStatus">{{projectStatus}}</option>
            </select>
          </div>
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>